.btn {
  min-width: 140px;
  height: 45px;
  background: $main-color;
  text-transform: uppercase;
  border: none;
  z-index: 10;
  &:hover {
    background: none;
    transition: 0.5s all;
    a {
      color: #fff;
    }
  }
  a {
    padding: 12px 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    text-decoration: none;
  }
}

.btn_bg {
  letter-spacing: 0;
  box-shadow: none;
  &:first-child {
    margin: 0px 0px 0px 100px;
  }
}

.btn_bg:hover,
.btn_bg:active {
  letter-spacing: 2px;
}

.btn_bg:after,
.btn_bg:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn_bg:hover:after,
.btn_bg:hover:before {
  backface-visibility: hidden;
  border-color: $main-color;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn_bg:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
