.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
  span {
    margin-bottom: 6px;
    display: block;
    height: 3px;
    width: 30px;
    background: $main-color;
  }
}

span.hamburger_long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 11; //
  visibility: hidden; // скрываем
  transition: all 0.5s; //поработать с анимацией

  &.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  &__block {
    padding: 150px 0 0 0px;
    position: relative;
    max-width: 280px;
    background: $main-color; //возможно заменить цвет?
    height: 100%;
    transition: all 0.5s;
    z-index: 10;
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: $title-color;
    cursor: pointer;
    & img {
      max-width: 20px;
      &:hover {
        animation: rotate-360 linear 1s 1;
      }
    }
  }

  &__list {
    list-style-type: none;
  }
  li.menu__list-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid ghostwhite;
    padding: 0 0 0 40px;
    margin: 0;
    &:last-child {
      border: none;
    }
    & img {
      width: 25px;
      height: 25px;
      transform: translateX(10%);
      animation: shake-center 5s ease-in infinite normal;
    }
  }

  &__link {
    position: relative;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    margin-left: 15px;
    color: #000;
    text-decoration: none;

    &:hover {
      &::before {
        background-color: #fff;
      }
      color: #fff;
      transition: all 0.3s;
    }
  }

  &__social {
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #ffd63d, $alpha: 0.8);
    & img {
      width: 2em;
      height: 2em;
      display: block;
      margin: 10px 15px;
    }
  }

  &__overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 9;
  }
}
