.overlay {
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 1000;
}

.modal {
  padding: 30px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 300px; // для валидации
  background-color: #f2f2f2;

  &__close {
    position: absolute;
    top: -5px;
    right: 20px;
    font-size: 40px;
    color: $main-color;
    cursor: pointer;
  }

  .modal_form {
    padding: 0;
    padding-top: 20px;
    max-width: 100%;
  }

  button {
    margin-bottom: 0px;
  }
}

.desc_fz {
  margin-top: 20px;
  line-height: 20px;
  font-size: 14px;
}

.modal_mod {
  min-height: 140px;
  text-align: center;
  font-weight: bold;
}

#thanks {
  display: none;
}

label#name-error,
label#email-error,
label#text-error {
  top: 80%;
  color: red;
  display: block;
  font-size: 12px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
