.sertificate {
  margin: 0 auto;
  padding-top: 120px;

  &__subtitle {
    position: relative;
    @include cirle;
    text-align: center;

    &::before {
      content: " ";
      left: 50%;
      top: -50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    margin-top: 15px;
    text-align: center;
  }

  &__diveder {
    display: block;
    margin-top: 25px;
    text-align: center;
  }

  &__wrapper {
    padding: 60px 10px 0 10px;
    display: grid;
    grid-template: repeat(1, 280px) / repeat(3, minmax(280px, 1fr));
    grid-auto-rows: minmax(280px, auto);
    gap: 5px;
  }

  &__link {
    img {
      width: 100%;
      height: 100%;
      filter: saturate(50%);
      object-fit: cover;

      &:hover {
        transition: 0.6s ease-in-out;
        filter: saturate(100%);
        outline: none;
      }
    }
  }
}