.slider__wrapper {
  height: 100%;
  position: relative;
  .slaider {
    background-color: #ddd;
    width: inherit;
    height: inherit;
    .slaides {
      position: absolute;
      height: inherit;
      transition: transform ease-in-out 1s, opacity ease-in-out 1s;
    }
    .slaide1 {
      background: url("../img/My_avatar_correct.jpg") center center/cover
        no-repeat;
    }
    .slaide2 {
      background: url("../img/my_avatar_winter.jpg") center center/cover
        no-repeat;
    }
    .slaide3 {
      background: url("../img/my_avatar_mode.jpg") center center/cover no-repeat;
    }
  }
  & .controls {
    position: absolute;
    left: 45%;
    top: 90%;
    transform: translateX(-25%);
    z-index: 1;
  }
  & input {
    display: none;
  }
  & label {
    width: 8px;
    height: 8px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 20px 8px 0;
    transition: background ease-in-out 0.25s;
    border-radius: 25%;
    &:after {
      content: " ";
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      border: 2px solid rgba(255, 255, 255, 0.589);
      border-radius: 25%;
      top: -4px;
      left: -4px;
    }
  }
  & label:hover,
  #slaide1:checked ~ .controls label:nth-of-type(1),
  #slaide2:checked ~ .controls label:nth-of-type(2),
  #slaide3:checked ~ .controls label:nth-of-type(3) {
    background: $main-color;
  }
}

#slaide1:checked ~ .slaider > .slaide1,
#slaide2:checked ~ .slaider > .slaide2,
#slaide3:checked ~ .slaider > .slaide3 {
  position: relative;
  opacity: 1;
  z-index: 1;
}
