.socity_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  position: fixed;
  align-items: center;
  left: 30px;
  top: 225px;
  border-right: 2px solid $main-color;
  padding-right: 1em;
  z-index: 1;

  &__descr {
    height: 150px;
    width: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    span {
      display: block;
      transform: rotate(-90deg) translate(-40%, -340%);
      width: 150px;
    }
  }
  &__line {
    height: 70px;
    width: 1px;
    background: #fff;
  }
  &__link:nth-child(1) {
    transform: rotate(-90deg) translateY(5%);
  }

  &__link > svg {
    width: 25px;
    height: 25px;

    &:hover {
      box-shadow: 0px 0px 5px 5px $main-color;
      border-radius: 50%;
    }
  }
}

.socity_panel.active {
  display: none;
}
