.title {
  position: relative;
  font-style: normal;
  font-weight: bold;

  z-index: 10;

  &__name {
    position: relative;
    @include cirle;
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
    margin: 0px 0px 0px 100px;
  }
  &__profession {
    min-width: 535px;
    font-size: 48px;
    color: $title-color;
    margin: 10px 0 25px 100px;
  }

  &_fs14 {
    font-size: 14px;
    line-height: 21px;
  }

  &_fs16 {
    font-size: 16px;
    color: black;
  }

  &_fs20 {
    font-size: 16px;
    line-height: 30px;
    color: black;
  }

  &_fs36 {
    font-size: 36px;
    color: black;
  }
}
